{% from "macros.html" import render_pagination %}

{% extends "base.html" %}
{% block title %}Opac{% endblock %}
<!-- Main Content -->

{% if request.args.get('nqe') == '1' %}
  {% set nqe1 = 'checked' %}
  {% set nqe2 = '' %}
  {% set nqe3 = '' %}
{% elif request.args.get('nqe') == '2' %}
  {% set nqe1 = '' %}
  {% set nqe2 = 'checked' %}
  {% set nqe3 = '' %}
{% elif request.args.get('nqe') == '3' %}
  {% set nqe1 = '' %}
  {% set nqe2 = '' %}
  {% set nqe3 = 'checked' %}
{% else %}
  {% set nqe1 = 'checked' %}
  {% set nqe2 = '' %}
  {% set nqe3 = '' %}
{% endif %}


{% block content %}
<div>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-6 px-4 mx-auto max-w-screen-xl sm:py-8 md:py-10 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <!-- <h2 class="text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">Koleksi Penelitian</h2> -->
        <h1 class="text-3xl font-extrabold dark:text-white sm:text-4xl md:text-5xl">Koleksi Penelitian</h1>
      </div>
    </div>
  </section>

  <!-- Content -->
  <div class="max-w-screen-xl px-4 mx-auto">
    <section class="flex row flex-col-reverse md:flex-row gap-x-6">

      <!-- Tampilan Dokumen semua dokumen atau dokumen yang ditemukan -->
      {% if request.args.get('query') == "" or request.args.get('query') is none %}
      <div class="flex-col md:basis-8/12 lg:basis-9/12 ">
        <!-- <h2 class="my-4 text-2xl tracking-tight font-bold leading-tight text-gray-900 dark:text-white">Koleksi
          Penelitian</h2> -->
        <h5 class="my-5 text-xl font-semibold text-gray-600 dark:text-white">Menampilkan <span
            class="font-bold">{{ total_docs }}</span> Dokumen</h5>

        <!-- Items -->
        {% for doc in page %}

        <div
          class="mb-6 max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow transition duration-150 ease-in-out hover:shadow-xl dark:hover:shadow-slate-800 dark:bg-gray-800 dark:border-gray-700">
          <a href="javascript:void(0)" 
            class="read-doc"
            data-modal-target="readDocModal"
            data-modal-toggle="readDocModal"
            data-id="{{doc.id}}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ doc.title }}</h5>
          </a>
          <p class="mb-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white">{{ doc.author }} </p>
          <p class="line-clamp-3 mb-3 font-normal text-gray-700 dark:text-gray-400">{{ doc.abstract }}</p>
          <span
            class="inline-block bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 mb-2 rounded dark:bg-green-900 dark:text-green-300">D{{ doc.id }}</span>
          <span
            class="inline-block bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 mb-2 rounded dark:bg-green-900 dark:text-green-300">{{ doc.year }}</span>
          
        </div>
        {% endfor %}

        <!-- End of Items -->

        <!-- Pagination -->
        

        {{ render_pagination(page, "index") }}

        <!-- End of Pagination -->

      </div>
      {% else %}
      <div class="flex-col md:basis-8/12 lg:basis-9/12 ">
        <!-- <h2 class="my-4 text-2xl tracking-tight font-bold leading-tight text-gray-900 dark:text-white">Koleksi
          Penelitian</h2> -->
        {% if not total_docs %}
        <h5 class="my-5 text-xl font-semibold text-gray-600 dark:text-white">Tidak menemukan dokumen terkait</h5>
        {% else %}
        <h5 class="my-5 text-xl font-semibold text-gray-600 dark:text-white">Menemukan <span
            class="font-bold">{{ total_docs }}</span> Dokumen</h5>
        {% endif %}

        <!-- Items -->
        {% for doc, sim in zip_results %}

        <div
          class="mb-6 max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow transition duration-150 ease-in-out hover:shadow-xl dark:hover:shadow-slate-800 dark:bg-gray-800 dark:border-gray-700">
          <a href="javascript:void(0)" 
            class="read-doc"
            data-modal-target="readDocModal"
            data-modal-toggle="readDocModal"
            data-id="{{doc.id}}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >{{ doc.title }}</h5>
          <a/>
          <p class="mb-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white">{{ doc.author }} </p>
          <p class="line-clamp-3 mb-3 font-normal text-gray-700 dark:text-gray-400">{{ doc.abstract }}</p>
          <span
            class="inline-block bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 mb-2 rounded dark:bg-green-900 dark:text-green-300">D{{ doc.id }}</span>
          <span
            class="inline-block bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 mb-2 rounded dark:bg-green-900 dark:text-green-300">{{ doc.year }}</span>
          <span
            class="inline-block bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 mb-2 rounded dark:bg-green-900 dark:text-green-300">Tingkat
            Kemiripan: {{ sim }}</span>
        </div>
        {% endfor %}

        <!-- End of Items -->

        <!-- Pagination -->
        

        {{ render_pagination(page, "search") }}
        
        <!-- End of Pagination -->
      </div>
      {% endif %}
      
      
      <!-- Search Group -->
      <div class="flex-col md:basis-4/12 lg:basis-3/12 ">
        <h2 class="my-4 text-2xl tracking-tight font-bold leading-tight text-gray-900 dark:text-white">Pencarian</h2>
        <div class="max-w-screen-xl mx-auto">
          <form class="max-w-md mx-auto" method="get" action="{{ url_for('search') }}">
            <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Keyword</h3>

            <label for="query"
              class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative mb-4">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
              </div>
              <input type="search" id="query" name="query"
                class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Masukkan judul dokumen" value="{{ request.args.get('query') if request.args.get('query') is not none }}" />
            </div>

            <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Query Expansion</h3>
            <ul
              class="mb-4 items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
              {% if request.args.get('qe') == 'no' %}
              
              <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                <div class="flex items-center ps-3">
                  <input id="no-qe" type="radio" value="no" name="qe" checked
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="no-qe"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Tidak
                  </label>
                </div>
              </li>

              <li class="w-full dark:border-gray-600">
                <div class="flex items-center ps-3">
                  <input id="w2v-qe" type="radio" value="w2v" name="qe" required 
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="w2v-qe"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ya</label>
                </div>
              </li>

              {% else %}

              <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                <div class="flex items-center ps-3">
                  <input id="no-qe" type="radio" value="no" name="qe"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="no-qe"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Tidak
                  </label>
                </div>
              </li>
              
              <li class="w-full dark:border-gray-600">
                <div class="flex items-center ps-3">
                  <input id="w2v-qe" type="radio" value="w2v" name="qe" required checked
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="w2v-qe"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ya</label>
                </div>
              </li>

              {% endif %}
              
            </ul>

            <h3 class="mb-4 font-semibold text-gray-900 sdark:text-white" id="nqe-title">Jumlah Kata QE</h3>
            <!-- <ul
              class="mb-4 items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              id="nqe-ul">
              
              <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                <div class="flex items-center ps-3">
                  <input id="nqe1" type="radio" value="1" name="nqe" {{ nqe1 }}
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="nqe1"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">1
                  </label>
                </div>
              </li>

              <li class="w-full dark:border-gray-600">
                <div class="flex items-center ps-3">
                  <input id="nqe2" type="radio" value="2" name="nqe" {{ nqe2 }}
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="nqe2"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">2</label>
                </div>
              </li>

              <li class="w-full dark:border-gray-600">
                <div class="flex items-center ps-3">
                  <input id="nqe3" type="radio" value="3" name="nqe" {{ nqe3 }}
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="nqe3"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">3</label>
                </div>
              </li>
              
            </ul> -->

            <div class="relative flex items-center mb-2" id="nqe-div">
              <button type="button" id="decrement-button" data-input-counter-decrement="nqe-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                </svg>
              </button>
              <input type="text" name="nqe" id="nqe-input" data-input-counter data-input-counter-min="1" data-input-counter-max="5" aria-describedby="helper-text-explanation" class="font-medium bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1" value="{{ request.args.get('nqe') if request.args.get('nqe') is not none }}" />
              
              <button type="button" id="increment-button" data-input-counter-increment="nqe-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                </svg>
              </button>
            </div>


            <!-- Pop over -->
            <p class="flex items-center text-sm text-gray-500 dark:text-gray-400">Keterangan
              <button data-popover-target="popover-description" data-popover-placement="bottom-end" type="button"><svg
                  class="w-4 h-4 ms-2 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor"
                  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path>
                </svg><span class="sr-only">Tampilkan Informasi</span></button>
            </p>
            <div data-popover id="popover-description" role="tooltip"
              class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
              <div class="p-3 space-y-2">
                <h3 class="font-semibold text-gray-900 dark:text-white">Query Expansion (QE)</h3>
                <p>Query expansion akan melakukan perluasan query yang dimasukkan dengan menambahkan kata yang mirip dari query awal.</p>
                <h3 class="font-semibold text-gray-900 dark:text-white">Jumlah Kata QE</h3>
                <p>Jumlah kata QE adalah jumlah kata yang akan ditambahkan untuk setiap kata dalam query awal.</p>
                <a href="{{ url_for('qe') }}"
                  class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Buka halaman QE <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 9 4-4-4-4" />
                  </svg></a>
              </div>
              <div data-popper-arrow></div>
            </div>

            <button type="submit"
              class="mt-4 mb-6 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex items-center justify-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">

              <!-- <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 18 21">
                <path
                  d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z" />
              </svg> -->
              <svg class="w-3.5 h-3.5 me-2 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
              <span class="me-2">Cari</span>
            </button>
          </form>
        </div>
      </div>

      <!-- End of Search Group -->

    </section>
    
  </div>
  <!-- End of content -->
  
</div>
<div
  id="readDocModal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-6 w-full max-w-screen-xl max-h-full">
    
    <!-- Modal content -->
    <div
      class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between mb-4 rounded-t sm:mb-5">
        <div class="text-lg text-gray-900 md:text-xl dark:text-white">
          <h3 class="font-bold" id="read-title">title</h3>
          <p class="font-semibold" id="read-author">author</p>
        </div>
        <div>
          <button
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 inline-flex dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="readDocModal">
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewbox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
      </div>
      <dl>
        <dt
          class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
          Abstraks
        </dt>
        <dd class="mb-4 font-normal text-gray-500 sm:mb-5 dark:text-gray-400" id="read-abstract">
          Isi abstract
        </dd>
        <dt
          class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
          Nomor Klasifikasi
        </dt>
        <dd class="mb-4 font-normal text-gray-500 sm:mb-5 dark:text-gray-400" id="read-classification">
          Isi Klasifikasi
        </dd>
        <dt
          class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
          Tahun
        </dt>
        <dd class="mb-4 font-normal text-gray-500 sm:mb-5 dark:text-gray-400" id="read-year">
          isi tahun
        </dd>
        <dt
          class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
          Subyek
        </dt>
        <dd class="mb-4 font-normal text-gray-500 sm:mb-5 dark:text-gray-400" id="read-subject">
          isi subyek
        </dd>
        <dt
          class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
          Penerbit
        </dt>
        <dd class="mb-4 font-normal text-gray-500 sm:mb-5 dark:text-gray-400" id="read-publisher">
          isi penerbit
        </dd>
        <dt
          class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
          Lokasi
        </dt>
        <dd class="mb-4 font-normal text-gray-500 sm:mb-5 dark:text-gray-400" id="read-location">
          isi Lokasi
        </dd>
      </dl>
      
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    if ($("input[type='radio'][name=qe]:checked").val() == "w2v") {
      $("input[type='radio'][name=nqe]").prop("required",true);
      $("#nqe-input").prop("required",true);
      $("#nqe-input").val("{{ request.args.get('nqe') if request.args.get('nqe') is not none }}");
      $("#nqe-title").show();
      $("#nqe-ul").show();
      $("#nqe-div").show();
    } else {
      $("input[type='radio'][name=nqe]").prop('required',false);
      $("input[type='radio'][name=nqe]").prop("checked", false);
      $("#nqe-input").prop("required",false);
      $("#nqe-input").val("");
      $("#nqe-title").hide();
      $("#nqe-ul").hide();
      $("#nqe-div").hide();
    }

    $("input[type='radio'][name=qe]").click(() => {
      if ($("input[type='radio'][name=qe]:checked").val() == "w2v") {
        $("input[type='radio'][name=nqe]").prop('required',true);
        $("#nqe-input").prop("required",true);
        $("#nqe-input").val("{{ request.args.get('nqe') if request.args.get('nqe') is not none }}");
        $("#nqe-title").show();
        $("#nqe-ul").show();
        $("#nqe-div").show();
      } else {
        $("input[type='radio'][name=nqe]").prop('required',false);
        $("input[type='radio'][name=nqe]").prop("checked", false);
        $("#nqe-input").prop("required",false);
        $("#nqe-input").val("");
        $("#nqe-title").hide();
        $("#nqe-ul").hide();
        $("#nqe-div").hide();
      }
    })

    $('.read-doc').click(function(){
      let docId = $(this).data('id');

      $.ajax({
        url: '/api/docs/' + docId,
        type: 'get',
        success: function(data){ 
          $('#read-title').html(data.title); 
          $('#read-author').html(data.author);
          $('#read-publisher').html(data.publisher);
          $('#read-year').html(data.year);
          $('#read-subject').html(data.subject);
          $('#read-classification').html(data.classification);
          $('#read-abstract').html(data.abstract);
          $('#read-location').html(data.location);
        }
      });
    });
  });

</script>
{% endblock %}
<!-- End of Main Content -->
