{% from "macros.html" import render_query_expansion_table %}


{% extends "base.html" %}
{% block title %}Query Expansion{% endblock %}


{% block content %}

<section class=" bg-white dark:bg-gray-900 p-3 sm:p-5 antialiased">
  <div class="mx-auto max-w-screen-xl min-h-screen px-4 lg:px-12">
    <h1 class="text-xl mb-2 font-extrabold dark:text-white sm:text-2xl md:text-3xl">
      Query Expansion
    </h1>
    <p class="text-sm mb-6 font-medium text-gray-500 dark:text-gray-400">Menampilkan hasil query expansion sesuai dengan
      query yang dimasukkan</p>

    <form action="{{ url_for('qe') }}" method="GET" class="mb-6">
      <div class="mb-6">
        <label for="query" class="block mb-4 font-semibold text-gray-900 dark:text-white">Query</label>
        <input type="text" id="query" name="query" value="{{ request.args.get('query') if request.args.get('query') is not none }}"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Masukkan query di sini" required />
      </div>

      <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Banyaknya query expansion untuk setiap kata</h3>
      
      <div class="relative flex items-center max-w-[8rem] mb-6" id="nqe-div">
        <button type="button" id="decrement-button" data-input-counter-decrement="nqe-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
          <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
          </svg>
        </button>
        <input type="text" name="nqe" id="nqe-input" data-input-counter data-input-counter-min="1" data-input-counter-max="5" aria-describedby="helper-text-explanation" class="font-medium bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1" value="{{ request.args.get('nqe') if (request.args.get('nqe') is not none) else 1}}" />
        
        <button type="button" id="increment-button" data-input-counter-increment="nqe-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
          <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </button>
      </div>
      <button type="submit"
        class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
        Submit
      </button>
    </form>
    <div>
        {% if not result %}

        {% else %}
        
          {{ render_query_expansion_table(detail_expansion) }}
          <!-- <h1 class="text-xl mt-4 font-bold dark:text-white sm:text-xl md:text-2xl">Hasil query expansion : {{ result }}</h1> -->
        {% endif %}
      
    </div>
  </div>
</section>





{% endblock %}